// COMMUN A TOUTES LES BANNIERES
.banner {
  width: $w100;
  height: 225px;
  border-radius: 25px;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  margin-bottom: 30px;
}

// ACCUEIL
.bannerHome {
  display: flex;
  justify-content: center;
  background-image: url(../assets/images/imgBannierHomeD.webp);
  @include photocenter;
  background-blend-mode: darken;
  h1 {
    @include h1
  }
}

// ABOUTIT
.bannerAboutIt {
  background: $bg-color;
  background-image: url(../assets/images/imgBannierAproposD.webp);
  @include photocenter;
  background-blend-mode: darken;
}

// MEDIAQUERIES
@media screen and (max-width: 880px) {
  .banner {
    border-radius: 17px;
  }
  .bannerHome {
    padding: 15px;
    text-align: center;
  }
}
@media screen and (max-width: 375px) {
  .banner {
    height: 111px;
    border-radius: 10px;
  }
  .bannerHome {
    justify-content: flex-start;
    text-align: left;
     background-image: url(../assets/images/imgBannierHomeM.webp);
  }
  .bannerAboutIt {
  background-image: url(../assets/images/imgBannierAproposM.webp);
}
}
