.cardHouse {
  cursor: pointer;
  width: 340px;
  height: 340px;
  margin-bottom: 30px;
  border-radius: 10px;
  position: relative;

  img {
    @include photo100;
    border-radius: 10px;
    filter: brightness(0.8);
  }
  p {
    position: absolute;
    color: $white;
    font-size: $fs18;
    top: 280px;
    left: 10px;
  }
}

// MEDIAQUERIES
@media screen and (max-width: 885px) {
  .cardHouse {
    width: $w90;
    height: 320px;
    margin: 20px auto;
  }
}

@media screen and (max-width: 375px) {
  .cardHouse {
    width: $w100;
    height: 255px;
    p {
      top: 210px;
    }
  }
}
