.navbar {
  width: $w86;
  height: 68px;
  margin: 40px auto;
  display: flex;
  align-items: center;
}
.logoNavbar {
  width: 210px;
  height: 68px;
}
.link {
  @include spaceb;
  align-items: center;
  margin-left: auto;
  a {
    color: $main-color;
    font-size: $fsnav;
    margin-left: $fs48;
    width: auto;
  }
  .linkActive {
    text-decoration: underline solid $main-color;
  }
}

// MEDIAQUERIES
@media screen and (max-width: 880px) {
  .logoNavbar {
    width: 168px;
    height: 55px;
  }
  .navbar {
    width: $w86;
    height: 47px;
    top: 20px;
  }
  .link {
    a {
      margin-left: $fs24;
    }
  }
}
@media screen and (max-width: 375px) {
  .logoNavbar {
    width: 145px;
    height: 47px;
  }
  .navbar {
    width: $w90;
    height: 47px;
    top: 20px;
  }
  .link {
    height: 17px;
  }
}
